name: Build
on: [ push, pull_request ]
permissions:
  packages: write
env:
  NUGET_USERNAME: ${{github.repository_owner}}
  NUGET_FEED_URL: https://nuget.pkg.github.com/${{github.repository_owner}}/index.json
  VCPKG_BINARY_SOURCES: "clear;nuget,https://nuget.pkg.github.com/${{github.repository_owner}}/index.json,readwrite"
jobs:
  populate-vcpkg-cache:
    runs-on: windows-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          submodules: true
      - name: Bootstrap vcpkg
        run: third-party/vcpkg/bootstrap-vcpkg.bat
      - name: Add nuget source
        shell: pwsh
        run: |
          .$(third-party/vcpkg/vcpkg fetch nuget) `
            sources add `
            -Source "${{ env.NUGET_FEED_URL }}" `
            -StorePasswordInClearText `
            -Name GitHubPackages `
            -UserName "${{ env.NUGET_USERNAME }}" `
            -Password "${{ secrets.GITHUB_TOKEN }}"
          .$(third-party/vcpkg/vcpkg fetch nuget) `
            setapikey "${{ secrets.GITHUB_TOKEN }}" `
            -Source "${{ env.NUGET_FEED_URL }}"
      - name: "Install dependencies"
        run: |
          third-party/vcpkg/vcpkg install `
          --triplet x64-windows-static `
          --x-feature direct2d `
          --x-feature icu `
          --x-feature skia 

  build:
    needs: populate-vcpkg-cache
    strategy:
      matrix:
        preset:
          - Debug - default
          - Debug - clang-cl
          - Release
          - Direct2D - Release
          - Skia - Release
    name: "${{matrix.preset}}"
    runs-on: windows-latest
    steps:
      - name: Set up visual studio environment
        shell: pwsh
        run: |
          $VSRoot = $(
            vswhere `
              -latest `
              -products * `
              -requires Microsoft.VisualStudio.Component.VC.Tools.x86.x64 `
              -property installationPath)
          cmd /c "`"${VSRoot}/VC/Auxiliary/Build/vcvarsall.bat`" x64&set" `
            | Where-Object { $_ -like '*=*' } `
            | Out-File -Encoding utf8 -Append $Env:GITHUB_ENV
      - name: Checkout
        uses: actions/checkout@v4
        with:
          submodules: true
      - name: Bootstrap vcpkg
        run: third-party/vcpkg/bootstrap-vcpkg.bat
      - name: Add nuget vcpkg source
        shell: pwsh
        run: |
          .$(third-party/vcpkg/vcpkg fetch nuget) `
            sources add `
            -Source "${{ env.NUGET_FEED_URL }}" `
            -StorePasswordInClearText `
            -Name GitHubPackages `
            -UserName "${{ env.NUGET_USERNAME }}" `
            -Password "${{ secrets.GITHUB_TOKEN }}"
      - name: Configure
        shell: pwsh
        run: |
          New-Item -Type directory build
          cd build
          cmake .. --preset "${{matrix.preset}}"
      - name: Build
        working-directory: build
        run: cmake --build . --parallel